@page "/Vagas"
@inject VagasService VagasService

<div class="page-dark pattern">

    <div class="container">

        <h1>Acompanhe nossas <strong>Oportunidades</strong> </h1>

        @if (Vagas == null)
        {
            <p><em>Carregando...</em></p>
        }
        else
        {
            
            <div class="input-group mb-1 text-white box-pesquisa d-none d-lg-flex d-xl-flex">
                <input type="text" class="form-control px-3" placeholder="Pesquisar Vagas" value="@filtro" onchange="@Filtrar" />
                <div class="input-group-append">
                    <button class="btn btn-white" type="button"><i class="oi oi-magnifying-glass"></i> Pesquisar</button>
                </div>
            </div>

            <div class="table-responsive mt-5">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th>Descrição</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vaga in Vagas)
                        {
                            <tr>
                                <td>@vaga.Nome</td>
                                <td>@vaga.Descricao</td>
                                <td>
                                    <a class="btn btn-blue btn-rounded" href="/Candidatar/@vaga.Id">Candidatar-se</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>
@functions{
    List<Vaga> Vagas;

    string filtro = string.Empty;

    async Task Filtrar(UIChangeEventArgs evt)
    {
        filtro = (string)evt.Value;
        Vagas = await VagasService.ListarVagas(filtro);
    }

    protected override async Task OnInitAsync()
    {
        Vagas = await VagasService.ListarVagas();
    }

    protected async Task Excluir(int id)
    {
        await VagasService.ExcluirVaga(id);
        Vagas = await VagasService.ListarVagas();
    }
}