@inherits LayoutComponentBase

<header class="bg-purple">
    <NavMenu />
</header>

@Body

<footer class="footer text-muted">
    <div class="container">
        &copy; 2019 - Lançamento Visual Studio 2019 - Demo Razor - <a asp-area="" asp-page="/Privacy">Privacidade</a>
    </div>
</footer>