@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark fixed-top bg-purple">
    <div class="container">
        <a class="navbar-brand" asp-page="/Index">
            <img class="navbar-logo" src="/img/vsplogo_light.png" alt="Logo">
        </a>


        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All" data-toggle="collapse">
                    Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="vagas" data-toggle="collapse">
                    Nossas Vagas
                </NavLink>
            </li>

            @if (_httpContextAccessor.HttpContext.User?.Identity?.Name != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Admin/Vagas">Administrar Vagas</a>
                        <a class="dropdown-item" href="/Admin/Candidatos">Ver Candidatos</a>
                    </div>
                </li>
            }
            </ul>


        <ul class="navbar-nav ml-md-auto d-none d-lg-block d-xl-block">
            <LoginControl />
        </ul>
    </div>
</nav>

