@page "/"


<section class="bg-purple pattern top-section text-light">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-10 text-center text-shadow">
                <h1 class="display-2 mb-2">Procuramos <b>pessoas criativas</b> para o nosso time.</h1>
                <p class="lead mb-3">Veja nossas vagas e se candidate agora mesmo!</p>
                <a href="Vagas" class="btn btn-white btn-big btn-rounded">Veja nossas vagas</a>
                <a data-scroll="" href="vagas" class="btn btn-big btn-rounded btn-outline-white ml-md-1">Faça nosso teste</a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="text-center">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4 text-center">
                    <i class="svg-icon fs-50 text-purple mb-2">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="12" height="18" d="M10 45 L22 45 L22 63 L10 63 Z" style="stroke-dasharray: 60, 62; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="12" height="45" d="M42 18 L54 18 L54 63 L42 63 Z" style="stroke-dasharray: 114, 116; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="12" height="31" d="M26 32 L38 32 L38 63 L26 63 Z" style="stroke-dasharray: 86, 88; stroke-dashoffset: 0;"></path>
                        <g>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M14,38L51,1" style="stroke-dasharray: 53, 55; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" d="M40,1L51,1L51,12" style="stroke-dasharray: 22, 24; stroke-dashoffset: 0;"></path>
              </g>
              </svg>
                    </i>
                    <h4 class="fs-18 text-uppercase font-weight-normal">Carreira</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="svg-icon fs-50 text-purple mb-2">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M54.999,36.001C55,50.913,42.912,63,28,62.999
                C13.087,63,1,50.912,1.001,36C1,21.088,13.088,9,28,9.001V36L54.999,36.001z" style="stroke-dasharray: 182, 184; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M63,28C63.001,13.087,50.914,0.998,36.001,1v27H63z" style="stroke-dasharray: 97, 99; stroke-dashoffset: 0;"></path>
                        </svg>
                    </i>
                    <h4 class="fs-18 text-uppercase font-weight-normal">Mercado</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="svg-icon fs-50 text-purple mb-2">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M39,13A12,12 0,1,1 63,13A12,12 0,1,1 39,13" style="stroke-dasharray: 76, 78; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M1,42A10,10 0,1,1 21,42A10,10 0,1,1 1,42" style="stroke-dasharray: 63, 65; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M40,55A8,8 0,1,1 56,55A8,8 0,1,1 40,55" style="stroke-dasharray: 51, 53; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M40,54L20,46" style="stroke-dasharray: 22, 24; stroke-dashoffset: 0;"></path>
                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M19,35L41,21" style="stroke-dasharray: 27, 29; stroke-dashoffset: 0;"></path>
                    </svg>
                    </i>
                    <h4 class="fs-18 text-uppercase font-weight-normal">Conexões</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class=" bottom-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Nosso <b>Processo</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, perspiciatis eligendi doloremque.</p>
            </div>
        </div>
        <img src="/img/processo.png" />
    </div>
</section>