@page "/LoginError"

    <div class="container text-center">

        <h1 class="text-danger">Erro!</h1>

        <p>Seu usuário Google não tem permissão para acessar essa aplicação.</p>
        
        <img src="/img/nanana.gif" />
    </div>